
@{
    ViewBag.Title = "AddUser";
}
@{
    Layout = null;
}
@model CodeRepository.UI.Models.ProjectModel

<!DOCTYPE html>
<!-- Template by html.am -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>3 Column Layout</title>
    <link rel="stylesheet" href="~/Content/header.css">
    <style type="text/css">
        /* Layout */
        html, body {
            min-width: 630px;
            height: 100%;
        }

        #container {
            padding-left: 200px;
            padding-right: 190px;
        }

            #container .column {
                position: relative;
                float: left;
            }

        #center {
            padding: 10px 20px;
            width: 100%;
        }

        #left {
            width: 180px;
            padding: 0 10px;
            right: 240px;
            margin-left: -100%;
            height: 100vh;
        }

        #right {
            width: 180px;
            padding: 0 10px;
            margin-right: -100%;
        }

        #footer {
            clear: both;
        }

        /* IE hack */
        * html #left {
            left: 150px;
        }

        /* Make the columns the same height as each other */
        #container {
            overflow: hidden;
        }



        /* Fix for the footer */
        * html body {
            overflow: hidden;
        }



        /* Aesthetics */
        body {
            margin: 0;
            padding: 0;
            font-family: Sans-serif;
            line-height: 1.5em;
        }

        p {
            color: #555;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            nav ul a {
                color: darkgreen;
                text-decoration: none;
            }

        #header, #footer {
            font-size: large;
            padding: 0.3em;
            background: #BCCE98;
        }

        #left {
            background: #DAE9BC;
        }

        #right {
            background: #F7FDEB;
        }

        #center {
            background: #fff;
        }

        #container .column {
            padding-top: 1em;
        }
    </style>

    <script type="text/javascript">
		/* =============================
		This script generates sample text for the body content.
		You can remove this script and any reference to it.
		 ============================= */
		var bodyText=["The smaller your reality, the more convinced you are that you know everything.", "If the facts don't fit the theory, change the facts.", "The past has no power over the present moment.", "This, too, will pass.", "</p><p>You will not be punished for your anger, you will be punished by your anger.", "Peace comes from within. Do not seek it without.", "<h3>Heading</h3><p>The most important moment of your life is now. The most important person in your life is the one you are with now, and the most important activity in your life is the one you are involved with now."]
		function generateText(sentenceCount){
			for (var i=0; i<sentenceCount; i++)
			document.write(bodyText[Math.floor(Math.random()*7)]+" ")
		}
    </script>
    <style>
        table.GeneratedTable {
            width: 100%;
            background-color: #ffffff;
            border-collapse: separate;
            border-width: 2px;
            border-color: #5f9da0;
            border-style: outset;
            color: #000000;
        }

            table.GeneratedTable td, table.GeneratedTable th {
                border-width: 2px;
                border-color: #5f9da0;
                border-style: outset;
                padding: 3px;
            }

            table.GeneratedTable thead {
                background-color: #559daa;
            }
    </style>

</head>

<body>

    <header class="header-login-signup">

        <div class="header-limiter">
            <h1>@Html.ActionLink("Code Repository", "UserProjects", "Home")</h1>
            <nav>
                @Html.ActionLink("Search", "Search", "Home")
            </nav>
            <ul>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </header>

    <div id="container">

        <main id="center" class="column">
            <article>
                <div class="column">

                    <h3>Add CoAuthor</h3>
                    @*<form enctype="multipart/form-data" method="post" action="http://localhost:33803/api/projects" id="ajaxUploadForm" novalidate="novalidate">*@
                    @using (Html.BeginForm("AddUser", "Home", FormMethod.Post,
                                            new { enctype = "multipart/form-data" }))
                    {
                        <fieldset>
                            <legend>Add User</legend>
                            <ol>
                                <li>
                                    <label>User Email </label>
                                    @Html.TextBoxFor(Model =>Model.UserId)

                                </li>
                                <li>
                                    <label>Project Name </label>
                                   @Html.TextBoxFor(Model => Model.ProjectName)
                                </li>
                                <li>
                                    <input type="submit" value="Add" id="ajaxUploadButton" class="btn">
                                </li>
                            </ol>
                        </fieldset>
                    }
                    @*</form>*@


                </div>
                
            </article>
        </main>

        <nav id="left" class="column">
            <ul>
                <li><h2><img style="border:10px solid black;" src="http://www.html.am/images/image-codes/milford_sound_t.jpg" width="150" height="150" alt="Photo of Milford Sound in New Zealand" /></h2></li>
                <li><h2>@Html.Display(CodeRepository.UI.Controllers.AccountController.useremail) </h2></ li >


            </ul>
        </nav>

        

    </div>


</body>

</html>

